.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    
    color: rgb(7, 7, 7);
}

.address{
    font-size: 80%;
    margin: 0px;
    color: #f10e0e
}

.bg-me{
    background-color: #333333;
    
}

.btn-me {
    background-color: rgb(207, 207, 245);
    color: white;
    
}

.tablemine{
    text-align: center;
}

.collegename {
    text-align: left;
}

.mytablecolour{
    background-color: fuchsia;
}
.myfont{
    color: floralwhite;
}

.mybuttoncolour{
    background-color: rgb(255, 185, 8);
}

.thisonly{
    font-size: x-large;
}

.homepageupsection {
    padding: 12px 0;
    /* background: #0071E3; */
    color: #ffffff;
    margin-top: 0;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .blueback {
        background: #0071E3;
        }


        div.polaroid {
            width: 250px;
            box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
          }
          
          div.container {
            padding: 10px;
          }
.bgdown{
    background: #f5f5f7;
}

